.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: $control-padding-y $control-padding-x;
  font-family: $font-family-alternate;
  font-size: $font-size-base;
  font-weight: $font-weight-normal;
  line-height: $line-height-base;
  text-align: center;
  border: $border-width solid transparent;
  border-radius: $control-border-radius;
  color: $body-color;
  background-color: transparent;
  cursor: pointer;
  transition: $transition;
  transition-property: border-color, background-color, box-shadow, color, filter, opacity;

  &:disabled,
  &.disabled {
    border-color: transparent;
    background-color: transparent;
    opacity: 0.5;
    cursor: default;
  }

  &:not(:disabled):not(.disabled) {
    &:active,
    &:focus,
    &:hover {
      color: $body-color;
      background-color: $body-bg;
    }

    &:active {
      filter: $control-active-filter;
    }
    &:focus {
      outline: none;
      filter: $control-focus-filter;
    }
    &:focus-visible {
      outline: none;
      box-shadow: 0 0 0 $control-focus-outline-width rgba($neutral-40, 0.1);
      filter: $control-focus-filter;
    }
    &:hover {
      filter: $control-hover-filter;
    }
  }

  &.btn-icon {
    padding: $control-padding-y;
  }

  &.btn-lg {
    padding: $control-padding-y-lg $control-padding-x-lg;

    &.btn-icon {
      padding: $control-padding-y-lg;
    }
  }
}

.btn-link {
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  text-align: inherit;
  border: none;
  color: inherit;
  background: none;
  appearance: none;
  cursor: pointer;

  &:focus,
  &:hover {
    text-decoration: underline;
  }

  &:not(:disabled):not(.disabled):focus,
  &:not(:disabled):not(.disabled):hover {
    color: $link-hover-color;
    background-color: transparent;
  }
}

.btn-block {
  display: flex;
  width: 100%;
}

.btn-close {
  padding: $control-padding-y;
  line-height: 0;
  border-radius: 99rem;
  color: inherit;

  .nuxt-icon {
    svg {
      margin-bottom: 0;
    }
  }
}

@each $variant in $theme-colors {
  .btn-#{$variant} {
    color: var(--on-#{$variant}) !important;
    border-color: var(--#{$variant}) !important;
    background-color: var(--#{$variant}) !important;

    &:not(:disabled):not(.disabled) {
      &:active,
      &:focus,
      &:hover {
        color: var(--on-#{$variant}) !important;
        border-color: var(--#{$variant}) !important;
        background-color: var(--#{$variant}) !important;
      }
    }
  }

  .btn-#{$variant}-outline {
    color: var(--#{$variant}) !important;
    border-color: var(--#{$variant}) !important;
    background-color: transparent !important;

    &:not(:disabled):not(.disabled) {
      &:active,
      &:focus,
      &:hover {
        color: var(--on-#{$variant}) !important;
        border-color: var(--#{$variant}) !important;
        background-color: var(--#{$variant}) !important;
      }
    }
  }

  .btn-#{$variant}-muted {
    color: var(--on-#{$variant}-container) !important;
    border-color: var(--#{$variant}-container) !important;
    background-color: var(--#{$variant}-container) !important;

    &:not(:disabled):not(.disabled) {
      &:active,
      &:focus,
      &:hover {
        color: var(--on-#{$variant}-container) !important;
        border-color: var(--#{$variant}-container) !important;
        background-color: var(--#{$variant}-container) !important;
      }
    }
  }
}
