.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: $control-padding-y $control-padding-x;
  font-family: $font-family-base;
  font-size: $font-size-base;
  font-weight: $font-weight-normal;
  line-height: $line-height-base;
  text-align: center;
  border: $border-width solid transparent;
  border-radius: $control-border-radius;
  color: $body-color;
  background-color: transparent;
  cursor: pointer;
  transition: $transition;
  transition-property: color, border-color, background-color, box-shadow, opacity;

  &:disabled,
  &.disabled {
    border-color: transparent;
    background-color: transparent;
    opacity: 0.5;
    cursor: default;
  }

  &:not(:disabled):not(.disabled):focus,
  &:not(:disabled):not(.disabled):hover {
    color: $body-color;
    background-color: $body-bg;
  }
}

.btn-link {
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  text-align: inherit;
  border: none;
  color: inherit;
  background: none;
  appearance: none;
  cursor: pointer;

  &:focus,
  &:hover {
    text-decoration: underline;
  }

  &:not(:disabled):not(.disabled):focus,
  &:not(:disabled):not(.disabled):hover {
    color: $link-color;
    background-color: transparent;
  }
}

.btn-block {
  display: flex;
  width: 100%;
}

@each $variant in $button-variants {
  .btn-#{$variant} {
    color: var(--on-#{$variant}-container) !important;
    background-color: var(--#{$variant}-container) !important;

    &:not(:disabled):not(.disabled):focus,
    &:not(:disabled):not(.disabled):hover {
      color: var(--on-#{$variant}) !important;
      background-color: var(--#{$variant}) !important;
    }
  }
}
