.dialog {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: $grid-gap $grid-gap * 0.5;
  z-index: $zindex-modal + 1;
}

.dialog-backdrop {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: $backdrop-color;
  z-index: -1;
}

.dialog-content {
  flex: 1 1 auto;
  position: relative;
  width: auto;
  max-width: 500px;
  border-radius: $dialog-border-radius;
  background-color: $dialog-bg;

  .dialog-sm & {
    max-width: 320px;
  }

  .dialog-lg & {
    max-width: 800px;
  }
}

.dialog-header {
  display: flex;
  align-items: center;
  gap: 0 $grid-gap;
  padding: $dialog-padding-y $dialog-padding-x;

  .btn-close {
    margin: -0.25rem -0.25rem -0.25rem 0;
    padding: 0.25rem;
    border-width: 0;
  }
}

.dialog-title {
  flex: 1 1 auto;
  margin-bottom: 0;
  color: var(--primary);
}

.dialog-body {
  padding: $dialog-padding-y $dialog-padding-x;

  .dialog-header + & {
    border-top: $border-width solid var(--primary-outline);
  }
}

.dialog-footer {
  display: flex;
  gap: 0 $grid-gap;
  padding: $dialog-padding-y $dialog-padding-x;

  .dialog-header + &,
  .dialog-body + & {
    border-top: $border-width solid var(--primary-outline);
  }

  .btn {
    min-width: 7.5rem;
  }
}

@include media-min-width(md) {
  .dialog {
    align-items: center;
  }
}