$floating-label-height: 1rem;

.form-group {
  display: block;
  margin: 0 0 $spacer;

  &.floating-label {
    position: relative;

    .form-label {
      position: absolute;
      top: $control-padding-y;
      left: $control-padding-x;
      margin: 0;
      color: $control-accent;
      z-index: 1;
    }

    &:focus-within {
      .form-label {
        color: $control-focus-accent;
      }
    }

    &.disabled {
      .form-label {
        color: $control-disabled-accent;
      }
    }

    &:not(.disabled) {
      &.is-valid {
        .form-label {
          color: $control-valid-accent;
        }
      }

      &.is-invalid {
        .form-label {
          color: $control-invalid-accent;
        }
      }
    }
  }
}

.form-control {
  position: relative;

  &:not(.disabled) {
    &::before {
      display: block;
      content: '';
      position: absolute;
      left: -$border-width * 2;
      right: -$border-width * 2;
      top: -$border-width * 2;
      bottom: -$border-width * 2;
      border-radius: $control-border-radius $control-border-radius 0 0;
      background-color: $control-focus-accent;
      opacity: 0;
      transition: $transition;
      transition-property: opacity;
      z-index: -1;
    }

    &::after {
      display: block;
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: $border-width;
      background-color: $control-color;
      transition: $transition;
      transition-property: height, background-color;
    }

    &:focus-within {
      &::before {
        opacity: $focus-outline-opacity;
      }

      &::after {
        height: $border-width * 2;
        background-color: $control-focus-accent;
      }
    }

    &.is-valid {
      &::before {
        background-color: $control-valid-accent;
      }

      &:focus-within {
        &::after {
          background-color: $control-valid-accent;
        }
      }
    }

    &.is-invalid {
      &::before {
        background-color: $control-invalid-accent;
      }

      &:focus-within {
        &::after {
          background-color: $control-invalid-accent;
        }
      }
    }
  }
}

.form-control-append {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: $control-padding-y $control-padding-x;
  color: $control-accent;

  .form-control-lg & {
    padding: $control-padding-y-lg $control-padding-x-lg;
  }

  .floating-label & {
    padding-top: $control-padding-y + $floating-label-height;
  }

  .floating-label .form-control-lg & {
    padding-top: $control-padding-y-lg + $floating-label-height;
    padding-left: $control-padding-x;
  }

  :disabled &,
  .disabled &,
  .form-control-el:disabled ~ & {
    color: $control-disabled-accent;
  }

  .form-control-el:not(:disabled):focus ~ & {
    color: $control-focus-accent;
  }

  .is-valid &,
  .form-control-el.is-valid ~ & {
    color: $control-valid-accent;
  }

  .is-invalid &,
  .form-control-el.is-invalid ~ & {
    color: $control-invalid-accent;
  }
}

.form-control-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: $line-height-base * $font-size-base;
  text-align: center;

  &.btn {
    padding: 0.25rem;
  }
}

.form-select-indicator {
  transform: rotate(0);
  transition: $transition;
  transition-property: transform;

  .form-control-el:focus ~ .form-control-append & {
    transform: rotate(-180deg);
  }
}

.form-control-el {
  display: block;
  width: 100%;
  padding: $control-padding-y $control-padding-x;
  font-family: $font-family-base;
  font-size: $font-size-base;
  font-weight: $font-weight-normal;
  line-height: $line-height-base;
  border: $border-width solid transparent;
  border-radius: $control-border-radius $control-border-radius 0 0;
  color: $control-color;
  background-color: $control-bg;
  appearance: none;
  transition: $transition;
  transition-property: background-color;

  .form-control-lg & {
    padding: $control-padding-y-lg $control-padding-x-lg;
  }

  .floating-label & {
    padding-top: $control-padding-y + $floating-label-height;
  }

  .floating-label .form-control-lg & {
    padding-top: $control-padding-y-lg + $floating-label-height;
    padding-left: $control-padding-x;
  }

  &::placeholder {
    color: $control-accent;
    opacity: 0.5;
    transition: $transition;
    transition-property: color;
  }

  &:focus {
    color: $control-focus-color;
    background-color: $control-focus-bg;
    box-shadow: none;
    outline: none;

    &::placeholder {
      color: $control-focus-accent;
    }
  }

  .disabled &,
  &:disabled {
    color: $control-disabled-color;
    background-color: $control-disabled-bg;
    cursor: default;

    &::placeholder {
      color: $control-disabled-accent;
    }
  }

  &:not(:disabled) {
    .is-valid & {
      color: $control-valid-color;
      background-color: $control-valid-bg;

      &::placeholder {
        color: $control-valid-accent;
      }
    }

    &:invalid,
    .is-invalid & {
      color: $control-invalid-color;
      background-color: $control-invalid-bg;

      &::placeholder {
        color: $control-invalid-accent;
      }
    }
  }
}

.form-fieldset {
  margin: 0 0 $spacer;
  padding: 0;
  border: none;
  appearance: none;

  & > *:last-child {
    margin-bottom: 0;
  }
}

.form-legend {
  display: block;
  margin-bottom: $spacer;
  font-family: $font-family-alternate;
  font-size: $font-size-base;
  font-weight: $font-weight-medium;
  line-height: $line-height-base;
}

.form-feedback {
  margin: 0.25rem 0 0;
  font-size: $font-size-base * 0.75;

  &.form-feedback-valid {
    color: $control-valid-accent;
  }
  &.form-feedback-invalid {
    color: $control-invalid-accent;
  }
}

.form-label {
  display: block;
  margin-bottom: $spacer * 0.5;
  font-family: $font-family-base;
  font-size: $font-size-base * 0.75;
  font-weight: $font-weight-normal;
  line-height: $line-height-base;
  transition: $transition;
  transition-property: color;
}

/**
 ** Fix <select> extra horizontal padding in Firefox
 **/

@-moz-document url-prefix() {
  .form-control-select {
    .form-control-el {
      padding-left: calc(#{$control-padding-x} - 4px);
    }

    &.form-control-lg {
      .form-control-el {
        padding-left: calc(#{$control-padding-x-lg} - 4px);
      }
    }
  }

  .floating-label {
    .form-control-select {
      .form-control-el {
        padding-left: calc(#{$control-padding-x} - 4px);
      }

      &.form-control-lg {
        .form-control-el {
          padding-left: calc(#{$control-padding-x} - 4px);
        }
      }
    }
  }
}
