/* Containers */

.container,
.container-full {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 #{$grid-gap * 0.5};
}

@each $breakpoint, $max-width in $container-widths {
  @include media-min-width($breakpoint) {
    .container {
      width: $max-width;
    }
  }
}

/* Rows */

.row {
  display: grid;
  gap: $grid-gap;
  grid-template-columns: repeat(12, 1fr);
}

@for $count from 2 through 11 {
  .row-cols-#{$count} {
    display: grid;
    gap: $grid-gap;
    grid-template-columns: repeat(#{$count}, 1fr);
  }
}

@for $count from 2 through 11 {
  @each $breakpoint, $width in $breakpoints {
    @include media-min-width($breakpoint) {
      .row-cols-#{$breakpoint}-#{$count} {
        display: grid;
        gap: $grid-gap;
        grid-template-columns: repeat(#{$count}, 1fr);
      }
    }
  }
}

/* Columns */

.col,
[class*='col-'] {
  grid-column-end: span 1;
  min-width: 0;
}

@for $count from 1 through 12 {
  .col-#{$count} {
    grid-column-end: span #{$count};
  }

  .col-start-#{$count} {
    grid-column-start: #{$count};
  }
}

@for $count from 1 through 12 {
  @each $breakpoint, $width in $breakpoints {
    @include media-min-width($breakpoint) {
      .col-#{$breakpoint}-#{$count} {
        grid-column-end: span #{$count};
      }

      .col-start-#{$breakpoint}-#{$count} {
        grid-column-start: #{$count};
      }
    }
  }
}
