.datetimepicker-menu {
  overflow: hidden;
}

.datetimepicker-panels {
  display: flex;
  transition: $transition;
  transition-property: transform;
  transform: translateX(0);

  &.panel-time {
    transform: translateX(-100%);
  }
}

.datetimepicker-panel {
  position: relative;
  flex: 0 0 100%;
  min-width: 0;

  .timepicker {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  .timepicker-header {
    flex: 0 0 auto;
  }

  .timepicker-body {
    flex: 1 1 auto;
    min-height: 0;
  }
}

.datetimepicker-footer {
  display: flex;
  gap: $dropdown-padding-y $dropdown-padding-x;
  padding-top: $dropdown-padding-y;

  & > * {
    flex: 1 1 0;
  }
}

@include media-max-width(sm) {
  .datetimepicker {
    .dropdown-menu {
      position: fixed;
      top: $grid-gap;
      right: $grid-gap * 0.5;
      left: $grid-gap * 0.5;
      width: auto;

      &::before {
        display: block;
        content: '';
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: $backdrop-color;
        z-index: -1;
      }
    }

    .dropdown-content {
      margin-top: 0;
      border-radius: $dialog-border-radius;
    }
  }
}
