.spinner {
  display: block;
  width: var(--spinner-size, 1.5rem);
  height: var(--spinner-size, 1.5rem);
  border-radius: 99rem;
  border: ($border-width * 2) solid var(--outline);
  border-right-color: transparent;
  animation: spinner 0.75s linear infinite;

  &.nuxt-icon {
    border-color: currentColor;
    border-right-color: transparent;
  }
}

@keyframes spinner {
  to {
    transform: rotate(1turn);
  }
}

@each $variant in $theme-colors {
  .spinner-#{$variant} {
    border-color: var(--#{$variant}-outline) !important;
    border-right-color: transparent !important;
  }
}
