.table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;

  th {
    padding: $table-padding-x;
    font-family: $font-family-alternate;
    font-weight: $font-weight-medium;
    color: var(--primary);
    vertical-align: top;
  }

  td {
    padding: $table-padding-y $table-padding-x;
    vertical-align: top;
  }

  thead {
    th {
      border-bottom: ($border-width * 2) solid var(--primary-outline);
    }
  }

  tbody {
    tr {
      &:nth-of-type(odd) {
        color: var(--on-surface);
        background-color: var(--surface);
      }
    }
  }
}

.row-details {
  & > td {
    padding: 0;
  }
}

.table-fixed {
  table-layout: fixed;
}

.table-empty {
  font-size: $font-size-base * 0.875;
  text-align: center;
  color: var(--primary-outline);
  background-color: var(--background);
}

@include media-max-width(lg) {
  .table {
    font-size: $font-size-base * 0.875;

    th {
      padding: $table-padding-x * 0.875;
    }

    td {
      padding: $table-padding-y * 0.875 $table-padding-x * 0.875;
    }
  }

  .row-details {
    & > td {
      padding: 0;
    }
  }
}
