$toast-padding-x: 1rem;
$toast-padding-y: 0.75rem;
$toast-border-radius: 0.25rem;

.toast {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  width: 15rem;
  border-radius: $toast-border-radius;
  color: $body-color;
  background-color: $body-bg;
  z-index: $zindex-modal + 2;

  .btn-close {
    padding: 0.25rem;
  }
}

.toast-header {
  display: flex;
  align-items: center;
  gap: 0 $grid-gap;
  padding: $toast-padding-y $toast-padding-x 0;
}

.toast-title {
  flex: 1 1 auto;
  margin: 0;
}

.toast-body {
  padding: $toast-padding-y $toast-padding-x;

  &.no-header {
    padding-right: calc(#{$toast-padding-y} + 0.5rem + 16px + #{$border-width * 2});
  }

  .btn-close {
    position: absolute;
    right: calc(#{$toast-padding-y} - 0.25rem);
    top: calc(#{$toast-padding-y} - 0.25rem);
  }
}

@each $variant in $theme-colors {
  .toast-#{$variant} {
    color: var(--on-#{$variant}-bg);
    background-color: var(--#{$variant}-bg);

    .toast-header {
      color: var(--#{$variant});
    }
  }
}
