.collapse-enter-active,
.collapse-leave-active {
  transition: height 0.15s ease-out;
}

.dropdown-enter-active,
.dropdown-leave-active {
  transition: opacity 0.15s ease-out;
}
.dropdown-enter-from,
.dropdown-leave-to {
  opacity: 0;
}
