/**
 ** DISPLAY MODES
 **/

@each $key, $value in $display-modes {
  .d-#{$key} {
    display: #{$value} !important;
  }
}

@each $breakpoint, $width in map-remove($breakpoints, xs) {
  @include media-min-width($breakpoint) {
    @each $key, $value in $display-modes {
      .d-#{$breakpoint}-#{$key} {
        display: #{$value} !important;
      }
    }
  }
}

/**
 ** FLEX
 **/

.flex-fill {
  flex: 1 1 auto;
}

@each $breakpoint, $width in map-remove($breakpoints, xs) {
  @include media-min-width($breakpoint) {
    .flex-#{$breakpoint}-fill {
      flex: 1 1 auto;
    }
  }
}

/**
 ** SPACING
 **/

@each $prop, $abbrev in (margin: m, padding: p) {
  @for $multiplier from 0 through 24 {
    .#{$abbrev}-#{$multiplier * 4} {
      #{$prop}: $multiplier * 0.25rem !important;
    }
    .#{$abbrev}t-#{$multiplier * 4},
    .#{$abbrev}y-#{$multiplier * 4} {
      #{$prop}-top: $multiplier * 0.25rem !important;
    }
    .#{$abbrev}e-#{$multiplier * 4},
    .#{$abbrev}x-#{$multiplier * 4} {
      #{$prop}-right: $multiplier * 0.25rem !important;
    }
    .#{$abbrev}b-#{$multiplier * 4},
    .#{$abbrev}y-#{$multiplier * 4} {
      #{$prop}-bottom: $multiplier * 0.25rem !important;
    }
    .#{$abbrev}s-#{$multiplier * 4},
    .#{$abbrev}x-#{$multiplier * 4} {
      #{$prop}-left: $multiplier * 0.25rem !important;
    }
  }
}

.m-auto {
  margin: auto !important;
}
.mt-auto,
.mt-auto {
  margin-top: auto !important;
}
.me-auto,
.mx-auto {
  margin-right: auto !important;
}
.mb-auto,
.my-auto {
  margin-bottom: auto !important;
}
.ms-auto,
.mx-auto {
  margin-left: auto !important;
}

@each $breakpoint, $width in map-remove($breakpoints, xs) {
  @include media-min-width($breakpoint) {
    @each $prop, $abbrev in (margin: m, padding: p) {
      @for $multiplier from 0 through 24 {
        .#{$abbrev}-#{$breakpoint}-#{$multiplier * 4} {
          #{$prop}: $multiplier * 0.25rem !important;
        }
        .#{$abbrev}t-#{$breakpoint}-#{$multiplier * 4},
        .#{$abbrev}y-#{$breakpoint}-#{$multiplier * 4} {
          #{$prop}-top: $multiplier * 0.25rem !important;
        }
        .#{$abbrev}e-#{$breakpoint}-#{$multiplier * 4},
        .#{$abbrev}x-#{$breakpoint}-#{$multiplier * 4} {
          #{$prop}-right: $multiplier * 0.25rem !important;
        }
        .#{$abbrev}b-#{$breakpoint}-#{$multiplier * 4},
        .#{$abbrev}y-#{$breakpoint}-#{$multiplier * 4} {
          #{$prop}-bottom: $multiplier * 0.25rem !important;
        }
        .#{$abbrev}s-#{$breakpoint}-#{$multiplier * 4},
        .#{$abbrev}x-#{$breakpoint}-#{$multiplier * 4} {
          #{$prop}-left: $multiplier * 0.25rem !important;
        }
      }
    }

    .m-#{$breakpoint}-auto {
      margin: auto !important;
    }
    .mt-#{$breakpoint}-auto,
    .mt-#{$breakpoint}-auto {
      margin-top: auto !important;
    }
    .me-#{$breakpoint}-auto,
    .mx-#{$breakpoint}-auto {
      margin-right: auto !important;
    }
    .mb-#{$breakpoint}-auto,
    .my-#{$breakpoint}-auto {
      margin-bottom: auto !important;
    }
    .ms-#{$breakpoint}-auto,
    .mx-#{$breakpoint}-auto {
      margin-left: auto !important;
    }
  }
}

/**
 ** TYPOGRAPHY
 **/

.ff-base {
  font-family: $font-family-base !important;
}

.ff-alt {
  font-family: $font-family-alternate !important;
}

.fs-base {
  font-size: $font-size-base !important;
}

.fw-light,
.fw-300 {
  font-weight: $font-weight-light !important;
}

.fw-normal,
.fw-400 {
  font-weight: $font-weight-normal !important;
}

.fw-medium,
.fw-500 {
  font-weight: $font-weight-medium !important;
}

.fw-bold,
.fw-800 {
  font-weight: $font-weight-bold !important;
}

.lh-base,
.lh-150 {
  line-height: $line-height-base !important;
}

.lh-heading,
.lh-120 {
  line-height: $line-height-heading !important;
}

.lh-100 {
  line-height: 1 !important;
}

.lh-140 {
  line-height: 1.4 !important;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

@each $breakpoint, $width in map-remove($breakpoints, xs) {
  @include media-min-width($breakpoint) {
    .text-#{$breakpoint}-left {
      text-align: left;
    }

    .text-#{$breakpoint}-center {
      text-align: center;
    }

    .text-#{$breakpoint}-right {
      text-align: right;
    }
  }
}

/* Responsive font sizes */

@for $step from 4 through 32 {
  .fs-#{$step * 2} {
    font-size: $step * 0.125rem * math.div($font-size-base, 1rem) !important;
  }
}

@each $breakpoint, $width in map-remove($breakpoints, xs) {
  @include media-min-width($breakpoint) {
    @for $step from 4 through 32 {
      .fs-#{$breakpoint}-#{$step * 2} {
        font-size: $step * 0.125rem * math.div($font-size-base, 1rem) !important;
      }
    }
  }
}

/**
 ** COLORS
 **/

@each $color in $theme-colors {
  .bg-#{$color} {
    background-color: var(--#{$color}) !important;
  }
  .bg-on-#{$color} {
    background-color: var(--on-#{$color}) !important;
  }
  .bg-#{$color}-muted {
    background-color: var(--#{$color}-bg) !important;
  }
  .bg-on-#{$color}-muted {
    background-color: var(--on-#{$color}-bg) !important;
  }

  .text-#{$color} {
    color: var(--#{$color}) !important;
  }
  .text-on-#{$color} {
    color: var(--on-#{$color}) !important;
  }
  .text-#{$color}-muted {
    color: var(--#{$color}-bg) !important;
  }
  .text-on-#{$color}-muted {
    color: var(--on-#{$color}-bg) !important;
  }
}

/**
 ** SHADOWS
 **/

.shadow-1 {
  box-shadow: $shadow-1;
}
.shadow-2 {
  box-shadow: $shadow-2;
}
.shadow-3 {
  box-shadow: $shadow-3;
}
.shadow-4 {
  box-shadow: $shadow-4;
}
.shadow-6 {
  box-shadow: $shadow-6;
}
.shadow-8 {
  box-shadow: $shadow-8;
}
.shadow-9 {
  box-shadow: $shadow-9;
}
.shadow-12 {
  box-shadow: $shadow-12;
}
.shadow-16 {
  box-shadow: $shadow-16;
}
.shadow-24 {
  box-shadow: $shadow-24;
}

/**
 ** OVERFLOW
 **/

.overflow-hidden {
  overflow: hidden !important;
}
