/**
 ** COLOR SYSTEM
 **/

/* Basic palette */

$white: #ffffff;
$black: #000;

$primary-10: #230e47;
$primary-20: #372266;
$primary-30: #4f378b;
$primary-40: #6750a4;
$primary-50: #7f67be;
$primary-60: #9a82db;
$primary-70: #b69df8;
$primary-80: #d0bcff;
$primary-90: #eaddff;
$primary-95: #f6edff;
$primary-99: #fffbfe;

$secondary-10: #172539;
$secondary-20: #263e5f;
$secondary-30: #355684;
$secondary-40: #4875b4;
$secondary-50: #678fc7;
$secondary-60: #94b0d7;
$secondary-70: #aec4e1;
$secondary-80: #c9d7eb;
$secondary-90: #dbe5f2;
$secondary-95: #edf2f8;
$secondary-99: #f6f8fc;

$tertiary-10: #401910;
$tertiary-20: #5f2518;
$tertiary-30: #943925;
$tertiary-40: #c94e32;
$tertiary-50: #da6c53;
$tertiary-60: #e38f7c;
$tertiary-70: #eaa99a;
$tertiary-80: #f0c2b8;
$tertiary-90: #f6dcd7;
$tertiary-95: #fbeeeb;
$tertiary-99: #fdf6f5;

$neutral-10: #1c1b1f;
$neutral-20: #313033;
$neutral-30: #484649;
$neutral-40: #605d62;
$neutral-50: #787579;
$neutral-60: #939094;
$neutral-70: #aeaaae;
$neutral-80: #c9c5ca;
$neutral-90: #e6e1e5;
$neutral-95: #f4eff4;
$neutral-99: #fffbfe;

$neutral-variant-10: #1d1a22;
$neutral-variant-20: #322f37;
$neutral-variant-30: #49454f;
$neutral-variant-40: #605d66;
$neutral-variant-50: #79747e;
$neutral-variant-60: #938f99;
$neutral-variant-70: #aea9b4;
$neutral-variant-80: #cac4d0;
$neutral-variant-90: #e7e0ec;
$neutral-variant-95: #f5eefa;
$neutral-variant-99: #fffbfe;

$danger-10: #410e0b;
$danger-20: #601410;
$danger-30: #8c1d18;
$danger-40: #b3261e;
$danger-50: #dc362e;
$danger-60: #e46962;
$danger-70: #ec928e;
$danger-80: #f2b8b5;
$danger-90: #f9dedc;
$danger-95: #fceeee;
$danger-99: #fffbf9;

$success-10: #123e16;
$success-20: #1d6725;
$success-30: #299033;
$success-40: #31ac3d;
$success-50: #52b95c;
$success-60: #73c77b;
$success-70: #94d49a;
$success-80: #b5e1b9;
$success-90: #d6eed8;
$success-95: #e6f5e8;
$success-99: #f7fcf7;

/* Theme colors */

$theme-colors: ('primary', 'secondary', 'tertiary', 'neutral', 'neutral-variant', 'danger', 'success');
$theme-colors-light: (
  primary: $primary-40,
  on-primary: $primary-99,
  primary-bg: $primary-90,
  on-primary-bg: $primary-10,

  secondary: $secondary-40,
  on-secondary: $secondary-99,
  secondary-bg: $secondary-90,
  on-secondary-bg: $secondary-10,

  tertiary: $tertiary-40,
  on-tertiary: $tertiary-99,
  tertiary-bg: $tertiary-90,
  on-tertiary-bg: $tertiary-10,

  neutral: $neutral-40,
  on-neutral: $neutral-99,
  neutral-bg: $neutral-90,
  on-neutral-bg: $neutral-10,

  neutral-variant: $neutral-variant-40,
  on-neutral-variant: $neutral-variant-99,
  neutral-variant-bg: $neutral-variant-90,
  on-neutral-variant-bg: $neutral-variant-10,

  danger: $danger-40,
  on-danger: $danger-99,
  danger-bg: $danger-90,
  on-danger-bg: $danger-10,

  success: $success-40,
  on-success: $success-99,
  success-bg: $success-90,
  on-success-bg: $success-10,
);
$theme-colors-dark: (
  primary: $primary-80,
  on-primary: $primary-20,
  primary-bg: $primary-30,
  on-primary-bg: $primary-90,

  secondary: $secondary-80,
  on-secondary: $secondary-20,
  secondary-bg: $secondary-30,
  on-secondary-bg: $secondary-90,

  tertiary: $tertiary-80,
  on-tertiary: $tertiary-20,
  tertiary-bg: $tertiary-30,
  on-tertiary-bg: $tertiary-90,

  neutral: $neutral-80,
  on-neutral: $neutral-20,
  neutral-bg: $neutral-30,
  on-neutral-bg: $neutral-90,

  neutral-variant: $neutral-variant-80,
  on-neutral-variant: $neutral-variant-20,
  neutral-variant-bg: $neutral-variant-30,
  on-neutral-variant-bg: $neutral-variant-90,

  danger: $danger-80,
  on-danger: $danger-20,
  danger-bg: $danger-30,
  on-danger-bg: $danger-90,

  success: $success-80,
  on-success: $success-20,
  success-bg: $success-30,
  on-success-bg: $success-90,
);

/* Body colors */

$body-bg: var(--primary-bg);
$body-color: var(--on-primary-bg);

/* Misc global colors */

$backdrop-color: rgba($black, 0.75);
$link-active-color: var(--secondary);
$link-hover-color: var(--primary);
$danger: var(--danger);
$success: var(--success);

/**
 ** OPTIONS
 **/

$border-width: 1px;
$transition: all 0.2s ease-in-out;

$display-modes: (
  block: 'block',
  inline: 'inline',
  inline-block: 'inline-block',
  flex: 'flex',
  inline-flex: 'inline-flex',
  grid: 'grid',
  inline-grid: 'inline-grid',
  none: 'none',
);

$focus-outline-opacity: 0.075;

/**
 ** TYPOGRAPHY
 **/

$font-family-base: 'Roboto', sans-serif;
$font-family-alternate: 'Rubik', sans-serif;

$font-size-base: 1rem;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 800;

$line-height-base: 1.5;
$line-height-heading: 1.2;

$heading-multipliers: (
  1: 2.25,
  2: 1.625,
  3: 1.375,
  4: 1.25,
  5: 1.125,
  6: 1,
);

/**
 ** BUTTONS & INPUTS
 **/

$control-padding-y: 0.4375rem;
$control-padding-y-lg: 0.9375rem;
$control-padding-x: 0.6875rem;
$control-padding-x-lg: 1.4375rem;
$control-border-radius: 0.25rem;
$control-focus-outline-width: 2px;

$control-color: var(--on-surface);
$control-bg: var(--surface);
$control-accent: var(--primary);

$control-focus-color: var(--on-secondary-bg);
$control-focus-bg: var(--secondary-bg);
$control-focus-accent: var(--secondary);

$control-valid-color: var(--on-success-bg);
$control-valid-bg: var(--success-bg);
$control-valid-accent: var(--success);

$control-invalid-color: var(--on-danger-bg);
$control-invalid-bg: var(--danger-bg);
$control-invalid-accent: var(--danger);

$control-disabled-color: var(--on-disabled-bg);
$control-disabled-bg: var(--disabled-bg);
$control-disabled-accent: var(--on-disabled-bg);

/**
 ** DIALOGS
 **/

$dialog-border-radius: 1rem;
$dialog-color: var(--on-secondary-bg);
$dialog-bg: var(--secondary-bg);

/**
 ** CARDS
 **/

$card-padding-x: 0.75rem;
$card-padding-y: 1rem;
$card-border-radius: 0.75rem;
$card-color: var(--on-background);
$card-bg: var(--background);

/**
 ** GRID
 **/

$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);

$container-widths: (
  xs: 100%,
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px,
);

$grid-gap: 1.5rem;

$spacer: 1rem;

/**
 ** SHADOWS
 **/

$shadow-1: 0px 1px 3px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 0px 2px rgba(0, 0, 0, 0.14);
$shadow-2: 0px 1px 5px rgba(0, 0, 0, 0.2), 0px 3px 4px rgba(0, 0, 0, 0.12), 0px 0px 4px rgba(0, 0, 0, 0.14);
$shadow-3: 0px 1px 8px rgba(0, 0, 0, 0.2), 0px 3px 4px rgba(0, 0, 0, 0.12), 0px 3px 3px rgba(0, 0, 0, 0.14);
$shadow-4: 0px 1px 10px rgba(0, 0, 0, 0.2), 0px 4px 5px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.14);
$shadow-6: 0px 3px 5px rgba(0, 0, 0, 0.2), 0px 1px 18px rgba(0, 0, 0, 0.12), 0px 6px 10px rgba(0, 0, 0, 0.14);
$shadow-8: 0px 4px 15px rgba(0, 0, 0, 0.2), 0px 3px 14px rgba(0, 0, 0, 0.12), 0px 8px 10px rgba(0, 0, 0, 0.14);
$shadow-9: 0px 5px 6px rgba(0, 0, 0, 0.2), 0px 3px 16px rgba(0, 0, 0, 0.12), 0px 9px 12px rgba(0, 0, 0, 0.14);
$shadow-12: 0px 7px 8px rgba(0, 0, 0, 0.2), 0px 5px 22px rgba(0, 0, 0, 0.12), 0px 12px 17px rgba(0, 0, 0, 0.14);
$shadow-16: 0px 8px 10px rgba(0, 0, 0, 0.2), 0px 6px 30px rgba(0, 0, 0, 0.12), 0px 16px 24px rgba(0, 0, 0, 0.14);
$shadow-24: 0px 11px 15px rgba(0, 0, 0, 0.2), 0px 9px 46px rgba(0, 0, 0, 0.12), 0px 24px 38px rgba(0, 0, 0, 0.14);

/**
 ** Z-INDICES
 **/

$zindex-dialog: 990;
$zindex-drawer: 1010;
$zindex-dropdown: 1000;
$zindex-modal: 1020;
$zindex-navbar: 1000;
