/**
 ** COLOR VARIABLES
 **/

:root {
  --c-white: #{$white};
  --c-black: #{$black};

  --c-primary-10: #{$primary-10};
  --c-primary-20: #{$primary-20};
  --c-primary-30: #{$primary-30};
  --c-primary-40: #{$primary-40};
  --c-primary-50: #{$primary-50};
  --c-primary-60: #{$primary-60};
  --c-primary-70: #{$primary-70};
  --c-primary-80: #{$primary-80};
  --c-primary-90: #{$primary-90};
  --c-primary-95: #{$primary-95};
  --c-primary-99: #{$primary-99};

  --c-secondary-10: #{$secondary-10};
  --c-secondary-20: #{$secondary-20};
  --c-secondary-30: #{$secondary-30};
  --c-secondary-40: #{$secondary-40};
  --c-secondary-50: #{$secondary-50};
  --c-secondary-60: #{$secondary-60};
  --c-secondary-70: #{$secondary-70};
  --c-secondary-80: #{$secondary-80};
  --c-secondary-90: #{$secondary-90};
  --c-secondary-95: #{$secondary-95};
  --c-secondary-99: #{$secondary-99};

  --c-tertiary-10: #{$tertiary-10};
  --c-tertiary-20: #{$tertiary-20};
  --c-tertiary-30: #{$tertiary-30};
  --c-tertiary-40: #{$tertiary-40};
  --c-tertiary-50: #{$tertiary-50};
  --c-tertiary-60: #{$tertiary-60};
  --c-tertiary-70: #{$tertiary-70};
  --c-tertiary-80: #{$tertiary-80};
  --c-tertiary-90: #{$tertiary-90};
  --c-tertiary-95: #{$tertiary-95};
  --c-tertiary-99: #{$tertiary-99};

  --c-neutral-10: #{$neutral-10};
  --c-neutral-20: #{$neutral-20};
  --c-neutral-30: #{$neutral-30};
  --c-neutral-40: #{$neutral-40};
  --c-neutral-50: #{$neutral-50};
  --c-neutral-60: #{$neutral-60};
  --c-neutral-70: #{$neutral-70};
  --c-neutral-80: #{$neutral-80};
  --c-neutral-90: #{$neutral-90};
  --c-neutral-95: #{$neutral-95};
  --c-neutral-99: #{$neutral-99};

  --c-neutral-variant-10: #{$neutral-variant-10};
  --c-neutral-variant-20: #{$neutral-variant-20};
  --c-neutral-variant-30: #{$neutral-variant-30};
  --c-neutral-variant-40: #{$neutral-variant-40};
  --c-neutral-variant-50: #{$neutral-variant-50};
  --c-neutral-variant-60: #{$neutral-variant-60};
  --c-neutral-variant-70: #{$neutral-variant-70};
  --c-neutral-variant-80: #{$neutral-variant-80};
  --c-neutral-variant-90: #{$neutral-variant-90};
  --c-neutral-variant-95: #{$neutral-variant-95};
  --c-neutral-variant-99: #{$neutral-variant-99};

  --c-danger-10: #{$danger-10};
  --c-danger-20: #{$danger-20};
  --c-danger-30: #{$danger-30};
  --c-danger-40: #{$danger-40};
  --c-danger-50: #{$danger-50};
  --c-danger-60: #{$danger-60};
  --c-danger-70: #{$danger-70};
  --c-danger-80: #{$danger-80};
  --c-danger-90: #{$danger-90};
  --c-danger-95: #{$danger-95};
  --c-danger-99: #{$danger-99};

  --c-success-10: #{$success-10};
  --c-success-20: #{$success-20};
  --c-success-30: #{$success-30};
  --c-success-40: #{$success-40};
  --c-success-50: #{$success-50};
  --c-success-60: #{$success-60};
  --c-success-70: #{$success-70};
  --c-success-80: #{$success-80};
  --c-success-90: #{$success-90};
  --c-success-95: #{$success-95};
  --c-success-99: #{$success-99};
}

/**
 ** LIGHT THEME
 **/

@mixin theme-light() {
  @each $color in $theme-colors {
    --#{$color}: var(--c-#{$color}-40);
    --on-#{$color}: var(--c-white);

    --#{$color}-container: var(--c-#{$color}-90);
    --on-#{$color}-container: var(--c-#{$color}-10);
  }

  --background: var(--c-neutral-99);
  --on-background: var(--c-neutral-10);

  --surface: var(--c-primary-95);
  --on-surface: var(--c-primary-10);

  --surface-variant: var(--c-secondary-95);
  --on-surface-variant: var(--c-secondary-10);

  --disabled-container: var(--c-neutral-90);
  --on-disabled-container: var(--c-neutral-50);

  --outline: var(--c-neutral-50);
}

html,
:root.theme-light {
  @include theme-light();
}

@media (prefers-color-scheme: light) {
  :root {
    @include theme-light();
  }
}

/* Default theme -- dark */

@mixin theme-dark() {
  @each $color in $theme-colors {
    --#{$color}: var(--c-#{$color}-80);
    --on-#{$color}: var(--c-#{$color}-20);

    --#{$color}-container: var(--c-#{$color}-30);
    --on-#{$color}-container: var(--c-#{$color}-90);
  }

  --background: var(--c-neutral-10);
  --on-background: var(--c-neutral-90);

  --surface: var(--c-primary-10);
  --on-surface: var(--c-primary-90);

  --surface-variant: var(--c-secondary-20);
  --on-surface-variant: var(--c-secondary-95);

  --disabled-container: var(--c-neutral-30);
  --on-disabled-container: var(--c-neutral-70);

  --outline: var(--c-neutral-60);
}

:root.theme-dark {
  @include theme-dark();
}

@media (prefers-color-scheme: dark) {
  :root {
    @include theme-dark();
  }
}
