/* STATIC THEME COLORS */

html,
:root.theme-light {
  --background: var(--on-neutral);
  --on-background: var(--on-neutral-bg);

  --surface: var(--primary-surface);
  --on-surface: var(--on-primary-surface);

  --surface-variant: var(--secondary-surface);
  --on-surface-variant: var(--on-secondary-surface);

  --disabled-bg: var(--neutral-bg);
  --on-disabled-bg: var(--neutral);

  --outline: var(--neutral);
}
